.home-bg {
      background: linear-gradient(145deg, #a6f2ffa4, #00c3e595);
      box-shadow: 20px 20px 0px #bebebe,
            -20px -20px 0px #ffffff;
}

@media screen and (max-width:767px) {
      .home-bg {
            display: grid;
            grid-template-columns: 1fr;
      }

      .head-img {
            width: 350px;
      }

}